/* texto */
.letras {
    display: flex;
    background-color: rgb(10, 56, 7);
}

/* carrusel */
.carousel {
width: 50%;
height: 50%;

}

.seccioncarrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: rgb(110, 166, 234);
}

/* cartas */
.card {
    width: 50%;
    height:auto;
}

.seccioccard {
    display: flex;
    background-color: black;
}

/* futer */
.futer {
    background-color: blueviolet;
}
